# Ignore everything first
*

# Whitelist only what we need
!package.json
!bun.lock
!src/
!public/
!docker/
!*.config.*
!*.config.ts
!*.config.js
!tsconfig.json
!qwik.env.d.ts
!global.css
!README.md
!adapters/
!vite.config.ts
!eslint.config.js
